::ng-deep #datePicker .mat-form-field {
    margin-right: 12px;
}

::ng-deep #datePicker .mat-form-field-outline {
    height: 40px;
    color: #ced4da;
}

::ng-deep #datePicker .mat-form-field-wrapper {
    margin-top: 0;
}

::ng-deep #datePicker .mat-form-field-infix {
    border-top: 1px;
    padding-top: 5px;
}

::ng-deep #datePicker .mat-form-field-label {
    top: 1.1em;
}

::ng-deep #datePicker.mat-form-field-should-float .mat-form-field-label {
    top: 1.84375em;
}

::ng-deep #datePicker.mat-form-field {
    width: 100%;
}