<div>
  <app-input></app-input>
</div>  
<!-- n

</div>

<div>
  <label for="DOB Details">
    Date of Birth & Gender
  </label>
  <div>
    <input id="Date of birth" type="text" formControlName="db">
  </div>
</div>

<div>
  <label for="DOB Details">
    SSN Details
  </label>
  <div>
    <input id="Date of birth" type="text" formControlName="db">
  </div>
</div>

<h3>Cart</h3> -->

<!-- <p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
     <label for="name">
      Name
    </label> -->
    <!-- <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form> --> 